<!-- les featured sont les elements qui affiche la livraion gratuite .... les avnatages en forme icone -->

<!-- item1 -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-warning m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0"> Qualité du produit</h5>
            </div>
        </div>
<!-- item2-->

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-warning m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Livraison dans 48h</h5>
            </div>
        </div>
<!-- item 3 -->

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-warning m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Retour dans 10 jours</h5>
            </div>
        </div>
<!-- item 4 -->

        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-warning m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0"> Service client 1828</h5>
            </div>
        </div>
    </div>
</div>