<app-topbar1></app-topbar1>
<app-sidebar></app-sidebar>


<div class="container-fluid mb-5" style="background-color: #1e1b58">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h1
      class="font-weight-semi-bold text-uppercase mb-3"
      style="color: #fdc600"
    >
      Qui sommes-nous ?
    </h1>
  </div>
</div>

<div class="row  px-xl-5">
  <div class="col-lg-9">  

    <div class="descabout" style="margin-top: 50px; margin-left: 20px; ">
      <h2>e-Shop : le portail du commerce électronique de la poste tunisienne </h2>
      <br>

      <div Align="justify" class="container">
        Bienvenue au portail "e-Shop" dédié à la vente des produits de  <a href="https://www.poste.tn/">la poste tunisienne</a>
        e-Shop vous offre une variété de timbres postaux tunisiens et de
        produits philatéliques ainsi qu'une collection de bouquets de fleurs .
        <br>
        Il vous permet de :
        <ul>
            <li>Acheter en ligne et de façon sécurisée des produits philatéliques.</li>
            <li>Connaître les nouveautés des timbres postaux tunisiens.</li>
            <li>Découvrir les meilleures compositions florales amoureusement préparées par nos artisans fleuristes.</li>
            <li> Avoir un compte e-Shop  afin d'effectuer et suivre vos commandes en ligne.</li>
        </ul>
        <br>
        <h4>Historique de la philatélie :</h4>

        <br>

        La tradition de collectionner les timbres-poste est ancrée chez les
        Tunisiens. Elle remonte à la fin du 19ème siècle juste après la
        naissance du premier timbre-poste tunisien soit le 1er juillet 1888.
        Depuis lors, l'intérêt pour la philatélie n'a cessé de se manifester et
        de se développer. Le patrimoine philatélique tunisien comprend un grand
        nombre de trésors regroupant plus de 1600 timbres-poste aux quels
        s'ajoutent des produits divers composés d'enveloppes premier jour, des
        blocs et feuillets, des entiers postaux, des carnets, des épreuves de
        luxe et des cartes postales. En parcourant la collection Nationale des
        timbres-poste Tunisiens, on vit des moments passionnants à travers des
        illustrations portant sur l'histoire, la géographie, la terre et les
        hommes et traitant de thèmes multiples comme la faune et la flore, les
        sites et monuments, le sport et loisir, les arts, la technologie, les
        personnages célèbres …
        <br>
      </div>
      
    </div>
  </div>
</div>
<hr>
<app-footer></app-footer>
