<app-topbar1></app-topbar1>


<div class="container-fluid mb-5" style="background-color: #1e1b58">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 200px"
    >
      <h1
        class="font-weight-semi-bold text-uppercase mb-3"
        style="color: #fdc600"
      >
        Votre profil
      </h1>
    </div>
  </div>


<hr>

<div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">Les évènements de la poste tunisienne</span>
    </h2>
    <br>
    <br>
  </div>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="news" class="white-bg padding-top-bottom">
        <div class="container bootstrap snippets bootdey">
            <div class="timeline">             

                <div class="date-title">
                    <span>2022</span>
                </div>
                <div class="row">
                    <div class="col-sm-6 news-item ">
                        <div class="news-content">
                            <div class="date">
                                <p>11</p>
                                <small>
                                    Août</small>
                            </div>
                            <h2 class="news-title">Exposition de timbres- poste</h2>
                            <div class="news-media">
                                <a class="colorbox cboxElement" href="#">
                             
                                </a>
                            </div>
                            <p Align="justify" class="container">Cet évenement a eu lieu à "la Salle de l’information" de Tunis, au cours de laquelle les timbres émis à cette occasion ont été exposés en grand format, ainsi que la mise d’un point de vente des divers produits philatéliques liés à cette émission au profit des visiteurs.</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>


                     <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <p>13</p>
                                <small>Juillet</small>
                            </div>
                            <h2 class="news-title">Emission d’une série de 22 timbres-poste dédiés aux "Femmes Tunisiennes"</h2>
                            <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                    
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div>
                            <p Align="justify" class="container">Pour contribuer à raviver la mémoire collective et à donner de la visibilité à l’action des femmes en Tunisie, la Poste Tunisienne émet  le 13 Août 2022, pour la première fois, une série de 22 timbres-poste dédiés aux "femmes tunisiennes" qui ont su influencer le cours de l’histoire et participer à façonner les traits de la belle Tunisie.</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div> 
                </div>

                <!-- <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <p>26</p>
                                <small>Wen</small>
                            </div>
                            <h2 class="news-title">Title 3</h2>
                            <div class="news-media video">
                                <a class="colorbox-video cboxElement" href="#">
                                
                                </a>
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized…</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div>

                    <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <p>25</p>
                                <small>Tue</small>
                            </div>
                            <h2 class="news-title">Title 4</h2>
                            <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                 
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div>
                            <p>The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains…</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div>
                </div> -->

                <div class="date-title">
                    <span>2019</span>
                </div>
                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <p>20</p>
                                <small>Juin</small>
                            </div>
                            <h2 class="news-title">Hackathon by la poste Tunisienne</h2>
                            <div class="news-media video">
                                <a class="colorbox-video cboxElement" href="#">
                                  
                                </a>
                            </div>
                            <p  Align="justify" class="container">La Poste Tunisienne organise pour la première fois son hackathon : 48h d’innovation, de créativité et d’inventivité destinées à réinventer l’un des objets incontournables de la Poste à savoir « Le timbre ».
                                Véritable objet d’art, le timbre est un témoignage de la richesse des territoires et du patrimoine national et international. Personnages célèbres, monuments, œuvres d’art… les timbres ont reflété et célébré au fil du temps les grands événements qui ont marqué l’Histoire.
                                Saisissez cette occasion unique de faire partie du premier hackathon organisé par La Poste Tunisienne et réinventer le timbre ! Design, technologie, utilisation… Donnez libre cours à votre imagination et participez à l’émission d’un timbre de La Poste Tunisienne !</p>
                            <!-- <a class="read-more" href="#">Read More</a> -->
                        </div>
                    </div>

                    <!-- <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <p>24</p>
                                <small>Mon</small>
                            </div>
                            <h2 class="news-title">Title 6</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a class="read-more" href="#">Read More</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>

<hr>
<app-footer></app-footer>