<!-- Navbar Start  sidebar avec  partie layout reliés -->
<div class="container-fluid mb-5">
     
    <app-sidebar></app-sidebar>
   

</div>
<!-- Navbar End -->
<app-banner></app-banner>

<!-- Featured Start ( les featured sont les engagements de la poste )-->
<!-- <app-featured></app-featured> -->
 <!--Featured End -->


<!-- Categories Start contient les produits affiché a la vente  -->
<div class=" pt-5">
    <app-estamps></app-estamps>
</div>
<!-- Categories End -->


<!-- Offer Start (offre commerciale) -->
<div class="container-fluid offer pt-5">
    <app-offer></app-offer>
</div>
<!-- Offer End -->


<app-efleure></app-efleure>


<!-- Subscribe Start  (email à saisir ) -->
<div class="container-fluid bg-secondary my-5">
    <app-subscribe></app-subscribe>
</div>
<!-- Subscribe End -->


<!-- Products Start partie pour ajouter plus de produits  -->
<!-- Products End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <h2  class ="text-center"> Les engagements de la poste Tunsienne </h2>
    <app-featured></app-featured>
</div>
<!-- Vendor End -->