<div class="row px-xl-5">
        <div class="col-md-6 pb-4" style="margin:50px 0">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                 
                
                <div class="position-relative" style="z-index: 1; ">
                    <h5 class="text-uppercase text-warning mb-3">Les meilleures compositions florales</h5>
                    <h3 class="mb-4 font-weight-semi-bold">Découvrez la nouvelle collection</h3>
                    <a href="/product" class="btn btn-outline-warning py-md-2 px-md-3">Acheter maintenant !</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4" style="margin:50px 0">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
             
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-warning mb-3"> une nouvelle collection de timbre  est disponible 
                    </h5>
                    <h4 class="mb-4 font-weight-semi-bold">Le timbre se réinvente et se digitalise</h4>
                    <a href="/product" class="btn btn-outline-warning py-md-2 px-md-3">Acheter maintenant !</a>
                </div>
            </div>
        </div>
    </div>