<app-topbar1></app-topbar1>
<div class="container-fluid mb-5" style="background-color: #1e1b58">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h1
      class="font-weight-semi-bold text-uppercase mb-3"
      style="color: #fdc600"
    >
      Conditions générales de vente
    </h1>
  </div>
</div>



<div class="row  px-xl-5">
  <div class="col-lg-9">  

    <div class="descabout" style="margin-top: 50px; margin-left: 20px; ">
      
    

      <div Align="justify" class="container">
        
        <h4> Modes de livraison </h4>

        <br>

        * Le client peut choisir l'option "au bureau de poste". Il doit récupérer ses produits au bureau de poste le plus proche de l'adresse mentionné dans la facture associée à sa commande.
        <br>

        <br>

        La livraison en Tunisie ou à l'étranger est assurée, selon le choix du client, par voie de courrier express Rapid-Poste ou par courrier recommandé.
        <br>

         * Livraison par courrier express Rapid-poste en Tunisie:
        <ul>
            <li>Délai moyen de livraison : 1 jour ouvrable à partir de la date de la commande.</li>
            <li>Frais de livraison : 5 DT, même pour les commandes dépassant les 500 g.</li>
        </ul>

         * Livraison par courrier express Rapid-poste à l'étranger:
        <ul>
            <li>Délai moyen de livraison : 2 à 3 jours ouvrables à partir de la date de la commande pour l'Europe et l'Amérique et de 4 à 5 jours pour le reste du monde.</li>
            <li>Frais de livraison : 25 $ US, même pour les commandes dépassant 1 kg.</li>
        </ul>



        * Livraison par courrier recommandé en Tunisie:
        <ul>
            <li>Délai moyen de livraison : 2 à 3 jours ouvrables à partir de la date de la commande.</li>
            <li>Frais de livraison : 2,5 DT, même pour les commandes dépassant les 500 g.</li>
        </ul>

        * Livraison par courrier recommandé à l'étranger:
        <ul>
            <li>Délai moyen de livraison : 5 à 9 jours ouvrables à partir de la date de la commande pour l'Europe et l'Amérique et de 7 à 15 jours pour le reste du monde.</li>
            <li>Frais de livraison : 10 $ US, même pour les commandes dépassant 1 kg.
            </li>
        </ul>

        <h4> Modes de paiement </h4>

        <br>

        Le mode de paiement se fait :
        <ul>
            <li>En Tunisie :espéce ,par e-Dinar,par carte bancaire </li>
            <li>A partir de l'étranger : visa et autres cartes de credits
            </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
<hr>

<app-footer></app-footer>
