
  <div id="header-carousel" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 460px">
        <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="Image" />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3" >
            <h4 class="text-light text-uppercase font-weight-medium mb-3">
              chers collectioneurs
            </h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">
            Street Art est disponible
            </h3>
            <a href="/product" class="btn btn-light py-2 px-3">Acheter maintenant !</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 460px">
        <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="Image" />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3">
            <h4 class="text-light text-uppercase font-weight-medium mb-3">
              Envoyez des bouquets de fleurs
            </h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">
              à vos chers
            </h3>
             <a href="/product" class="btn btn-light py-2 px-3">Acheter maintenant !</a>
          </div>
        </div>
      </div>

      <div  class="carousel-item" style="height: 460px">
        <img class="img-fluid" src="assets/img/carousel-4.jpg" alt="Image" />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3">
            <h4 class="text-light text-uppercase font-weight-medium mb-3">
              Decouvrez immediatement nos meilleures 
            </h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">
             Compositions florales
            </h3>
            <a href="/product" class="btn btn-light py-2 px-3">Acheter maintenant !</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 460px">
        <img class="img-fluid" src="assets/img/carousel-5.jpg" alt="Image" />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3" >
            <h4 class="text-light text-uppercase font-weight-medium mb-3">
              Célébrez une naissance avec
            </h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">
              Les fleurs de la poste
            </h3>
            <a href="/product" class="btn btn-light py-2 px-3">Acheter maintenant !</a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
      <div class="btn btn-dark" style="width: 45px; height: 45px">
        <span class="carousel-control-prev-icon mb-n2"></span>
      </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
      <div class="btn btn-dark" style="width: 45px; height: 45px">
        <span class="carousel-control-next-icon mb-n2"></span>
      </div>
    </a>
  </div>
