<app-topbar1></app-topbar1>
<div class="container-fluid mb-5" style="background-color: #1e1b58">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h1
      class="font-weight-semi-bold text-uppercase mb-3"
      style="color: #fdc600"
    >
      Programme annuel des emmissions de timbres
    </h1>
  </div>
</div>

<br>
<br>


<table class="table">
    <thead>
        <!-- entéte  -->
      <tr>
        <th scope="col">Thème</th>
        <th scope="col">Série</th>
        <th scope="col">Nombre de Timbre</th>
        <th scope="col">Date d'émission</th>
      </tr>
    </thead>
    <!-- reste du tableau -->
    <tbody>
                <tr>
                        <th scope="row">"Paysage lunaire", à Smar, Tataouine</th>
                        <td>ordinaire</td>
                      <td>1 </td>
                        <td>07/03/2022</td>
                            </tr>
                <tr>
                    <th scope="row">Fête de l'Indépendance</th>
                    <td>ordinaire</td>
                    <td>1</td>
                    <td>20/03/2022</td>
                </tr>
      <tr>
        <th scope="row">60ème anniversaire de la création de la Société Tunisienne de l'Electricité et du Gaz (STEG) </th>
        <td>Commémorative</td>
        <td>1</td>
        <td>03/04/2022        </td>
      </tr>


      <tr>
        <th scope="row">Plantes de Tunisie : Globulaire – Thym – Camomille - Sauge </th>
        <td>ordinaire</td>
        <td>4</td>
        <td> 15/04/2022</td>
      </tr>
    </tbody>
  </table>
