<div class="row px-xl-5 pt-5" style="font-size:16px; margin-top: -50px;">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
        <a href="" class="text-decoration-none">
            <h3 class="mb-4 display-5">e-Shop by la Poste Tunisienne</h3>
        </a>
        <p class="mb-2"><i class="fa fa-map-marker-alt text-warning mr-3"></i>Centre de la Philatélie : Complexe postal de l’Ariana, 2 Avenue Habib Bourguiba 2080 Ariana - Tunisie</p>
        <p class="mb-2"><i class="fa fa-envelope text-warning mr-3"></i>philatelie@poste.tn</p>
        <p class="mb-0"><i class="fa fa-phone-alt text-warning mr-3"></i>Tél : (+216) 71 719 579 - 71 713 936</p>
    </div>

   <!--  -->
    <div class="col-lg-8 col-md-12">
        <div class="row">
 
            <div class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4"></h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Accueil</a>     
                    <a class="text-dark" href="./about"><i class="fa fa-angle-right mr-2"></i>Qui sommes-nous ?</a>   
                    <a class="text-dark" href="./histphil"><i class="fa fa-angle-right mr-2"></i>Nos évènements</a>  
                    <a class="text-dark" href="./contact"><i class="fa fa-angle-right mr-2"></i>Contactez-nous</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h5 class="font-weight-bold text-dark mb-4">S'inscrire à la Newsletter </h5>
                <form action="">
                    <div class="form-group">
                       
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0 py-4" placeholder="écrire votre email ici" required="required" />
                    </div>
                    <div>
                        <button  class="btn btn-warning btn-block border-0 py-3" type="submit">S'abonner</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row border-top border-light mx-xl-5 py-4">
    <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
            &copy; <a class="text-dark font-weight-semi-bold" href="www.poste.tn">2022 . e-Shop by la Poste Tunisenne</a>. All Rights Reserved.
            <br>
              Designed by <a class="text-dark font-weight-semi-bold" href="www.poste.tn">Tunisian Post</a><br>
            
        </p>
    </div>


    <div class="col-lg-6 text-center text-lg-right">
        <div class="d-inline-flex align-items-center">
           
                <a class="text-dark px-2" href="https://www.facebook.com/TunisianPost">
                <i class="fab fa-facebook-f"> </i>
                </a>
                <a class="text-dark px-2" href="https://twitter.com/Poste_Tn">
                    <i class="fab fa-twitter"> </i>
                </a>
            
                <a class="text-dark px-2" href="https://www.instagram.com/poste_tn/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="https://www.youtube.com/channel/UCgdccp_xpo1937Jp3N8O_fA">
                <i class="fab fa-youtube"> </i>
                </a>
        </div>
    </div>
    
</div>



