<div >
    <!-- <div class="col-lg-3 d-none d-lg-block">
        <a href="" class="text-decoration-none">
            <h1 class="m-0 display-5 font-weight-semi-bold">e-Shop <h3>by la Poste Tunisienne </h3>
            </h1>
        </a>
    </div> -->
    <!-- <div class="col-lg-6 col-6 text-left">
        <form action="">
            <div class="input-group" >




                <input bindLabel="name" placeholder="Parcourez le magasin entier ici ..." class="form-control bg-secondary input-text" role="combobox" bindValue="id" aria-haspopup="false"  aria-autocomplete="both" autocomplete="off" aria-expanded="false"
                   lect [(ngModel)]="selectedCar" style = "border-radius: 10px 0 0 10px;">
            
               
                <div class="input-group-append" >
                     <button type=""
                     class="input-group-text" style="background-color: #FDC600;border-radius:  0 10px 10px 0">
                        <i class="fa fa-search" style="color: white;" ></i>
                    </button>
                </div>
            </div>
        </form>
    </div> -->
    
</div>
