<app-topbar1></app-topbar1>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid mb-5" style="background-color: #1e1b58">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h1
      class="font-weight-semi-bold text-uppercase mb-3"
      style="color: #fdc600"
    >
      Votre profil
    </h1>
  </div>
</div>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{name}}</span><span class="text-black-50">{{email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informations personnelles</h4>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Nom & prénom</label><p>{{name}}</p></div>
                    <div class="col-md-12"><label class="labels">Numero de téléphone</label><p>{{tel}}</p></div>
                    <div class="col-md-12"><label class="labels">Addresse de livraison</label><p >{{adresse}}</p></div>
                    <div class="col-md-12"><label class="labels">Email</label><p >{{email}}</p></div>
                    
                </div>
               
                
            </div>
            <div class="col-md-2">
                <a routerLink="/editprofile/{{id}}"> <span class="badge badge-pill badge-warning" style="color:white;padding:10px">Modifier profil</span></a>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> -->
    </div>
</div>
