<div class="row mt-1 ">



  <div class="col-3 ">
    <a
      class="btn d-flex align-items-center justify-content-between bg-warning text-white w-100 collapsed"
      data-toggle="collapse"
      routerLink="/product"
      style="height: 60px; "
      aria-expanded="false"
    >
      <h6 class="m-0" style="color:white">TOUS NOS PRODUITS</h6>
      <!-- <i class="fa fa-bars text-white"></i> -->
    </a>


    <!-- <nav
      class="navbar collapse position-absolute navbar-vertical navbar-light align-items-start p-0 border border-top-0 bg-light"
      id="navbar-vertical"
    >
      <div id="cat" class="col-md-12 overflow-auto" style="height: 465px">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link bg-secondary" data-toggle="dropdown">Les timbres postaux
            <i class="fa fa-angle-down float-right mt-1"></i>
          </a>
          <div class="list-menu bg-secondary border-0 rounded-0 w-100 m-0">

            <a href="#" class="nav-link" data-toggle="dropdown"> Par Thème <i class="fa fa-angle-down float-right mt-1"></i></a>

            <div class="border-0 rounded-0 w-100 m-0">
              <a href="/product" class="dropdown-item bg-white">Femmes tunisiennes célébres</a>
              <a href="/product" class="dropdown-item bg-white">L'art de la rue</a>
              <a href="/product" class="dropdown-item bg-white" >Fête de l'indépendance</a>
              <a href="/product" class="dropdown-item bg-white">Scènes de la vie tunisienne</a>
            </div>

            <a href="#" class="nav-link" data-toggle="dropdown">Par artiste<i class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="list-menu border-0 rounded-0 w-100 m-0">
              <a href="/product" class="dropdown-item bg-white">Hédi TURKI</a>
              <a href="/product" class="dropdown-item bg-white">Leila ALLAGUI</a>
              <a href="/product" class="dropdown-item bg-white">Amor Zammouri</a>
            </div>
            <a href="#" class="nav-link" data-toggle="dropdown">Espace Collectionneurs<i class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="list-menu border-0 rounded-0 w-100 m-0">
              <a href="/programme" class="dropdown-item bg-white">Programme des emmisions</a>
            </div>
          </div>
        </div>
        
        <div class="nav-item dropdown">
          <a href="#" class="nav-link bg-secondary" data-toggle="dropdown">Bouquets de fleurs
            <i class="fa fa-angle-down float-right mt-1"></i>
          </a>
          <div class="list-menu border-0 rounded-0 w-100 m-0">



            <div class="border-0 rounded-0 w-100 m-0">
              <a href="/product" class="dropdown-item bg-white">Féte des mères</a>
              <a href="/product" class="dropdown-item bg-white">Cerémonies</a>
              <a href="/product" class="dropdown-item bg-white" >Naissance</a>
              <a href="/product" class="dropdown-item bg-white">Saint-valentin</a>
              <a href="/product" class="dropdown-item bg-white">Divers</a>

            </div>
          </div>
        </div>
      </div>
    </nav> -->
  </div>
  <div class="col-lg-9">
    <nav
      class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
    >
      <!-- <a href="" class="text-decoration-none d-block d-lg-none"> -->
      <!-- <h1 class="m-0 display-5 font-weight-semi-bold">e-Shop de la Poste Tunisienne</h1> -->
      <!-- </a> -->
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto py-0">
          <a routerLink="/" class="nav-item nav-link" routerLinkActive="active">Accueil</a>
          <!-- <a routerLink="/product" class="nav-item nav-link">Shop</a>
                    <a routerLink="/product" class="nav-item nav-link">Shop Detail</a> -->

          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Nouveautés</a
            >
            <div class="dropdown-menu rounded-0 m-0">
              <a routerLink="/histphil" class="dropdown-item">
                Nos évènements</a
              >
              <a  routerLink="/programme" class="dropdown-item">Programme des emmisions </a>
            </div>
          </div>

          <!-- <a routerLink="/product" class="nav-item nav-link" routerLinkActive="active"
                >Nos Produits
            </a> -->


          <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active"
            >Qui sommes-nous ?
          </a>
          <!-- <a routerLink="/histphil" class="nav-item nav-link" routerLinkActive="active"
                >Nos évènements
            </a> -->


          <!-- contact probleme du page  -->
          <a routerLink="../contact" class="nav-item nav-link" routerLinkActive="active"
            >Contactez-nous</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
