<div class="row justify-content-md-center py-5 px-xl-5">
    <div class="col-md-6 col-12 py-5">
        <div class="text-center mb-2 pb-2">
            <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">S'inscrire à la Newsletter </span></h2>
            <p>Abonnez-vous pour connaître les dernières nouveautés de la boutique postale.</p>
        </div>
        <form action="">
            <div class="input-group">
                <input type="text" class="form-control border-white p-4" placeholder="Votre e-mail ici">
                <div class="input-group-append">
                    <button class="btn btn-warning px-4">S'abonner</button>
                </div>
            </div>
        </form>
    </div>
</div>